@font-face {
    font-family: 'outfit';
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

body {
	background-color: hsl(212, 45%, 89%);
	display: grid;
    place-items: center;
	min-height: 100vh;
}

.badge {
	display: flex;
    flex-direction: column; 
    gap: 22px; 
    padding: 13px;
	width: 250px;
	background: #fff;
	border-radius: 15px;
	text-align: center;
	font-family: Outfit;
	box-shadow: 1px 2px 4px rgba(3, 7, 18, 0.02),
	  4px 8px 15px rgba(3, 7, 18, 0.04),
	  9px 18px 33px rgba(3, 7, 18, 0.05),
	  16px 32px 58px rgba(3, 7, 18, 0.07);
}

#qr {
	max-width: 100%;   
    display: block;
	border-radius: 15px;  
}
.text {
	margin-left: 10px;
	margin-right: 10px
}
header {
	font-size: 18px;
	font-weight: 700;
}

p {
	font-size: 15px;
	font-weight: 400;
}
